
{{!--<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre>--}}

<div class="jumbotron">
        <h1 class="text-center">Oops!! Page {{message}}<br>
        <img class="media-center" src="/404.png"></h1>
</div>
