<div class="div">
{{!--{{ bridges }}--}}
<div class="div">
      <ul class="list-group">
        <li class="list-group-item">Structure No: {{ bridges }} </li>
      </ul>
</div> 
{{!--{{/each }}--}}
</div>