<div class="div">
{{#each bridges}}
<div class="div">
      <ul class="list-group">
         <a href="/bridges/{{_id}}"> <li class="list-group-item"> <i style="font-size:14px" class="fa">&#xf018;</i> Structure No: {{ structureNumber }} </li></a>
      </ul>
      {{else}}
      <p class="empty">No content</p>
</div> 
{{/each }}
</div>
