{{!--header para--}}

<div class="page-header">
  <h1>Welcome to Bridging Big Data ! </h1>
  <p>Putting Bridge Data to work for you</p>

  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>
{{!--progress--}}


{{!--data below--}}


<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="./images" alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Media heading</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus assumenda officia doloribus pariatur in, voluptatum veniam magnam ipsam dolorum vel sed repudiandae, nemo labore hic nesciunt quaerat dolores, atque aperiam.</p>
    <p>Magnam, asperiores, accusantium. Eaque iure quos earum illum eum excepturi, repellat numquam impedit quisquam incidunt soluta, fugiat. Laudantium fuga aliquam modi omnis nulla cumque, unde, molestias quae ducimus quo! Saepe.</p>
    <p>Minus labore cum doloremque, obcaecati explicabo quas at quidem provident, quia deserunt temporibus atque perferendis, autem distinctio eum similique iste laborum hic ipsum dicta cumque numquam dolore harum sint omnis.</p>
    <p>Consectetur fuga iusto ea accusantium non quam eos asperiores nihil fugiat, dolore rem soluta obcaecati possimus minima cumque optio. Optio ducimus quibusdam vero accusamus, distinctio saepe error ipsum accusantium tempore.</p>
  </div>
</div>

<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="..." alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Media heading</h4>
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem velit, libero ea, facere labore quis fugiat iusto ab corporis non voluptatum quia eius aliquid sed dignissimos beatae quae sit recusandae.</p>
   <p>Iure fuga consequatur animi, eligendi. At saepe velit sit expedita pariatur, nam minima dicta dolorum neque facilis iusto, dolor. Praesentium beatae animi ullam similique fugiat est dolorem ad ratione labore!</p>
   <p>Animi voluptates amet perferendis architecto consequatur quia, tempora omnis. Nam doloribus, alias, voluptatibus incidunt itaque quia suscipit! Eligendi dicta asperiores expedita voluptate veritatis exercitationem eaque! Adipisci eos animi labore iure!</p>
   <p>Repellendus quae perferendis dolorum, necessitatibus impedit aperiam ut autem repudiandae! Commodi consectetur excepturi officia, quae quidem minus nulla ex cumque eveniet dignissimos voluptas maxime ad aperiam numquam non mollitia beatae!</p>
  </div>
</div>

<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="..." alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Media heading</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit est labore quisquam ex iusto, placeat mollitia repellat esse fugit, sit culpa doloremque ea! Ea maxime dolor aspernatur ad quasi expedita?</p>
    <p>Culpa voluptas accusantium consectetur rerum ullam est dolorum, possimus itaque hic dolore. Nobis quaerat consectetur minus facilis itaque ipsam aliquid, explicabo quo architecto natus repellendus eligendi, ut minima pariatur voluptas.</p>
    <p>Voluptas dicta, quos doloribus laboriosam quas suscipit nulla, molestias vitae nemo aperiam, nam optio consequatur adipisci. Eum ratione dolores non, dolore, temporibus adipisci earum, ut voluptas at placeat expedita assumenda?</p>
    <p>Vero enim sint iure alias, perferendis odit totam asperiores voluptatum aliquid ad quia, vitae ullam quas neque. Beatae laudantium, ratione unde necessitatibus laboriosam delectus commodi ea atque eius, rerum cum.</p>
  </div>
</div>

