
<div class="container">
    <div class="page-header">
        <h3 align = "center">Partners and Sponsers.</h3>
    </div>
    <div class="row grid-divider">
    <div class="col-sm-4">
      <div class="col-padding">
        <h3>NSF</h3>
       <ul class="media-list">
          <li class="media">
            <a class="pull-left" href="http://www.nsf.gov/">
            <img class="media-object" src="http://www.nsf.gov/images/logos/nsf1.gif" alt="NSF">
            </a>
            <div class="media-body">
             
            </div></li></ul>
       
      </div>
    </div>
    <div class="col-sm-4">
      <div class="col-padding">
        <h3>NDOR</h3>
       <ul class="media-list">
          <li class="media">
            <a class="pull-left" href="http://dot.nebraska.gov/">
            <img class="media-object" src="https://upload.wikimedia.org/wikipedia/en/thumb/6/68/NDOR.svg/288px-NDOR.svg.png" alt="NDOR">
            </a>
            <div class="media-body">
             
            </div></li></ul>
            </div>
    </div>
    <div class="col-sm-4">
      <div class="col-padding">
       <h3>NBI</h3>
       <ul class="media-list">
          <li class="media">
            <a class="pull-left" href="https://www.fhwa.dot.gov//">
            <img class="media-object" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/10/FHWA_logo_vertical_2013.jpg/400px-FHWA_logo_vertical_2013.jpg" alt="NBI">
            </a>
            <div class="media-body">
             
            </div></li></ul></div>
    </div>
    </div>

</div>

