<!-- UNO -->
<div class="container-fluid center">
  <div class="page-header">
    <h3 align="center">People behind the project</h3>
  </div>
  <div class="row grid-divider">
    <div class="col-sm-4">
      <div class="col-padding">
        <ul class="media-list">
          <li class="media">
            <a class="pull-left" href="https://www.unomaha.edu/">
          <img class="media-object" src="https://raw.githubusercontent.com/BridgingBigData/BridgingBigData.github.io/master/assets/img/unomaha-o.png" alt="UNO">
        </a>
            <div class="media-body">
              <h4 class="media-heading">University of Nebraska at Omaha</h4>

              <!-- Nested media object -->
              <div class="media">
                <a class="pull-left" href="http://faculty.ist.unomaha.edu/rgandhi/">
              {{!--<img class="rounded-circle" src="" alt="Rahul Gandhi">--}}
                        <div class="media-body">
            <h4 class="media-heading">Robin A. Gandhi</h4>

            <!-- Nested media object -->

          </div>
            </a>
              </div>
              <!-- Nested media object -->
              <div class="media">
                <a class="pull-left" href="http://www.unomaha.edu/college-of-information-science-and-technology/about/faculty-staff/deepak-khazanchi.php">
              {{!--<img class="media-object" src="" alt="Deepak Khazanchi">--}}
                <div class="media-body">
            <h4 class="media-heading">Deepak Khazanchi</h4>

          </div>
            </a>

              </div>
              <!-- Nested media object -->
              <div class="media">
                <a class="pull-left" href="http://www.unomaha.edu/college-of-information-science-and-technology/about/faculty-staff/brian-ricks.php">
              {{!--<img class="media-object" src="" alt="Brian Ricks">--}}
              <div class="media-body">
            <h4 class="media-heading">Brian Ricks</h4>

            <!-- Nested media object -->

          </div>
            </a>

              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <!-- UNL -->
    <div class="col-sm-4">
      <div class="col-padding">
        <ul class="media-list">
          <li class="media">
            <a class="pull-left" href="https://www.unl.edu/">
          <img class="media-object " src="https://raw.githubusercontent.com/BridgingBigData/BridgingBigData.github.io/master/assets/img/nebraska-n.jpg" alt="UNL">
        </a>

            <div class="media-body">
              <h4 class="media-heading">University of Nebraska, Lincoln</h4>

              <!-- Nested media object -->
              <div class="media">
                <a class="pull-left" href="http://engineering.unl.edu/civil/daniel-linzell/">
              {{!--<img class="media-object" src="" alt="Daniel Linzell">--}}
                        <div class="media-body">
            <h4 class="media-heading">Daniel Linzell</h4>

            <!-- Nested media object -->

          </div>
            </a>


              </div>
              <!-- Nested media object -->

              <div class="media">
                <a class="pull-left" href="http://engineering.unl.edu/civil/faculty/chungwook-sim/">
              {{!--<img class="media-object" src="" alt="Chungwook Sim">--}}
                        <div class="media-body">
            <h4 class="media-heading">Chungwook Sim</h4>

          </div>
            </a>


              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>